
.FormGroup {
	margin: 0 2px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.FormRowLabel {
    width: 15%;
    min-width: 70px;
    padding: 10px 1px 3px;
    color: #c4f0ff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.FormRowDisabled {
    width: 50%;
    min-width: 30px;
    padding: 10px 10% 3px;
    color: burlywood;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.FormRowSelect {
	margin: 0 0 2px 0px;
	padding: 0;
	border-style: none;
	/* color: #87bbfd; */
	color: #fff;
    background-color: transparent;
	will-change: opacity, transform;
	border-radius: 4px;
	outline: none;
}

.FormRowSelect::-webkit-input-placeholder {
    color: #87bbfd;
}

input {
    width: 100%;
    padding: 11px 15px 11px 0;
    color: #fff;
    background-color: transparent;
    -webkit-animation: 1ms void-animation-out;
}

input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fce883;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
}

input::-webkit-input-placeholder {
    color: #87bbfd;
}

input::-moz-placeholder {
color: #87bbfd;
}

input:-ms-input-placeholder {
color: #87bbfd;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

button {
	display: block;
	font-size: 16px;
	width: 100%;
	background-color: burlywood;
	height: 50px;
	/*box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;*/
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
}

button:active {
	background-color: #d782d9;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
	transform: scale(0.99);
}

.App {
	margin-left: 25%;
	margin-top: 5%;
	margin-right: 25%;
}

h1,
h3 {
	text-align: center;
}