code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: black;  
}

.backhome {
  background: whitesmoke;
}

.text-box {
  position: absolute;
  color: #fff;
  top: 55%;
  left: 10%;
}

.text-box h1 {
  font-size: 100px;
  line-height: 500px;
  /* font-family: FFF Tusj; */
  font-family: CGF Locust Resistance;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(../images/back.png);
  background-clip: text;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 100s linear infinite;
}
@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

.bubbles img {
  width: 50px;
  animation: bubble 8s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -150px;
}

@keyframes bubble {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 5s;
}
.bubbles img:nth-child(6) {
  animation-delay: 2.5s;
  width: 20px;
}
.bubbles img:nth-child(7) {
  animation-delay: 7s;
  width: 35px;
}

.title {
  display: flex; 
  color: whitesmoke;
  padding-right: 10vh;
  padding-left: 42vh;
  padding-bottom: 2vh;
  background-color: black;
  font-family: CGF Locust Resistance;
  font-size: 2rem;
}

.title h1 {
  display: flex; 
  color: whitesmoke;
  padding-right: 10vh;
  padding-bottom: 30vh;
  background-color: black;
  font-family: CGF Locust Resistance;
  font-size: 2rem;
}

.title_pricing {
  display: flex; 
  color: whitesmoke;
  padding-right: 10vh;
  padding-left: 45vh;
  padding-bottom: 2vh;
  background-color: black;
  font-family: CGF Locust Resistance;
  font-size: 2rem;
}

.Youtube {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 0.1vh;
}

.home, 
.beats,
.about,
.contact {
  display: block;
  height: 0vh;  
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: whitesmoke;
  padding-left: 40vh;
  font-family: CGF Locust Resistance;
}

.pricing {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Skia";
  padding-left: 21%;
  padding-right: 20%;
  background-color: black;
}

.about-image img {
  display: block;
  margin-left: auto;
  margin-right: 2%;
  margin-top: -14%;
  width: 80%;
  opacity: 0.5;
}

.contact-image img {
  display: block;
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 0;
  margin-top: -11%;
  width: 80%;
  opacity: 0.5;
}

.payment {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: whitesmoke;
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.text-box {
  position: absolute;
  color: #fff;
  top: 5%;
  left: 20%;
}

.text-box h3 {
  font-size: 50px;
  line-height: 100px;
  font-family: CGF Locust Resistance;
  color: transparent;
  -webkit-text-stroke: 0.3px #fff;
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

.social-menu ul {
  position: absolute;
  top: 30%;
  left: 31.5%;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul .fa{
  position: relative;
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
  color: #fff;
}

.social-menu ul .fab{
  position: relative;
  padding: 10;
  margin: 10;
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
  color: #fff;
}

.social-menu ul a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000;
  text-align: center;
  transition: .6s;
  /*box-shadow: 0 5px 4px rgba(0,0,0,.5);*/
}

.social-menu ul .fa:hover{
  color: none;
}

.social-menu ul .fab:hover{
  color: none;
}

.social-menu ul a:hover{
  transform: translate(0, -10px);
}

.social-menu ul a:hover:nth-child(1){
  background-color: #E4405F;
}

.social-menu ul a:hover:nth-child(2){
  background-color: #1877F2;
}

.social-menu ul a:hover:nth-child(3){
  background-color: #EE1D51;
}

.social-menu ul a:hover:nth-child(4){
  background-color: #1DA1F2;
}

.social-menu ul a:hover:nth-child(5){
  background-color: #CD201F;
}

.each-slide {
  position: fixed;
  align-content: center;
  top: 12%;
  left: 33%;
  display: block;
}

.each-slide > div {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  background-size: cover;
  border: whitesmoke;
  border-style: double;
  border-radius: 20px;
  height: 500px;
  width: 500px;
}

.block {
  position: absolute;
  top: 10%;
  left: 18%;
  display: flex;
}

Form {
  position: relative;
  display: block;
  width: 58%;
  top: 15%;
  left: 19%;
}

Form.Item {
  position: relative;
  top: 30%;
  margin: 30%;
  padding-bottom: 30%;

}

.alinea { 
  text-indent: 20px;
  color: burlywood;
  margin: 3%;
}

.child1 {
  position: relative;
  /* opacity: 0.7; */
}

.child2 {
  position: absolute;
  z-index: 1;
  margin: 30px;
  top: 19%;
  left: 25%;
}

.alert{
  display: none;
}