@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif ;
}
*::before, *::after{
  padding: 0;
  margin: 0;
}
:root{
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515c6f;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0,0,0,0.15);
}

.bodypl {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88vh;
}

.wrapper {
  width: 380px;
  border-radius: 15px;
  padding: 25px 30px;
  background: var(--darkwhite);
  box-shadow: 0px 6px 15px var(--lightbshadow);
}

.wrapper i {
  cursor: pointer;
}

.top-bar {
  align-items: center;
  justify-content: space-between;
}

.top-bar i {
  font-size: 30px;
  color: var(--lightblack);
}

.top-bar span {
  font-size: 18px;
  color: var(--lightblack);
}

.img-area {
  height: 256px;
  width: 100%;
  border-radius: 15%;
  box-shadow: 0px 6px 12px var(--lightbshadow);
}











.video-responsive {
    overflow: hidden;
    padding-bottom: 35%;
    position: absolute;
    height: 80%;
    width: 80%;
    left: 20vh;
  }
  
  .video-responsive iframe {
    right: 20rem;
    height: 50%;
    width: 50%;
    position: absolute;
  }
  
